<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18727133605-qublrdl89kskb04gni2tpql9ehr6j0i7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18727133605-qublrdl89kskb04gni2tpql9ehr6j0i7</string>
	<key>API_KEY</key>
	<string>AIzaSyBrMAnatJvkGtkc85n309c49FHBH-tNHlM</string>
	<key>GCM_SENDER_ID</key>
	<string>18727133605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>keimig.Boast</string>
	<key>PROJECT_ID</key>
	<string>boast-5fb90</string>
	<key>STORAGE_BUCKET</key>
	<string>boast-5fb90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18727133605:ios:5e454cc26f5168f2af484c</string>
	<key>DATABASE_URL</key>
	<string>https://boast-5fb90.firebaseio.com</string>
</dict>
</plist>